<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vagas de Estágios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<head th:insert="~{layout/cabecalho}">
		<meta charset="ISO-8859-1">
				<title>Sucesso</title>
	  <style>
        .vaga {
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .vaga p {
            margin: 5px 0;
        }
        .vaga .btn {
            margin-top: 10px;
            margin-right: 10px;
        }
       
    </style>
</head>
<body>
	
	<div th:insert="~{layout/menu}"></div>
	
	<form name="candidatar_vaga" method="post" th:action="@{/candidatar_vaga}"
		th:object="${vagas}">
		<div style="font-size: 25px; margin: 0px 0px 10px 10px;">
        <h1>Informações da Vaga:</h1>
        <div th:each="vaga : ${vagas}" style="margin-bottom: 20px; 		padding: 15px;
		           border: 1px solid #ddd;
		           border-radius: 5px; margin: 5px 0; 				   margin-top: 10px;
				               margin-right: 10px;  ">
            <p><strong>Número da vaga:</strong> <span th:text="${vaga.IdVaga}"></span></p>
            <p><strong>Empresa:</strong> <span th:text="${vaga.empresa.Nome}"></span></p>
            <p><strong>Cursos:</strong> <span th:text="${vaga.curso.Nome}"></span></p>
            <p><strong>Valor da bolsa:</strong> R$<span th:text="${vaga.ValorBolsa}"></span></p>
            <p><strong>Local do estágio:</strong> Bairro: <span th:text="${vaga.Bairro}"></span></p>
            <div class="mb-3">
                <input type="hidden" class="form-control" id="idVaga" name="idVaga" required th:value="${vagas.idVaga}">
            </div>
            <button id="botao" type="submit" class="btn btn-success">Quero esta vaga!</button>
        </div>
		</div>
	</form>
	
	<div th:insert="~{layout/rodape}"></div>
</body>
</html>
