<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/cabecalho}">
<meta charset="ISO-8859-1">
	<title>Página de Relatórios</title>
</head>
<style>
	
		#margin{
			margin: 0px 10px 10px 10px;
		}
		
</style>
<body>
	<div th:insert="~{layout/menu}"></div>


		<h5 class="card-title">Suas Vagas</h5>
		<table id="relatorio" class="table table-sn table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th class="col-1">Vaga</th>
					<th class="col-5">Nome</th>	
				    <th class="col-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vaga : ${listvagas}">
					<td th:text="${vaga.IdVaga}"></td>
					<td th:text="${vaga.Nome}"></td>
					<td><a type="button" class="btn btn-outline-warning" th:href="@{vagas/{idVaga}(idVaga=${vaga.IdVaga})}" >Candidatos</a></td>
				</tr>

			</tbody>

		</table>
	</div>
<script>
	$(document).ready( function (){
    var table = new DataTable('#relatorio', {
		pageLength: 96,	/*Coloquei quantidade completa de itens pois não está salvando a disponibilidade de itens de páginas diferentes*/
		layout: {
		    topStart: 
		    {       
		            buttons: [
		               /* {
		                    extend: 'copyHtml5',
		                    title: 'Disponibilidade Docente'
		                },
		                {
		                    extend: 'excelHtml5',
		                    title: 'Disponibilidade Docente'
		                },
		                {
		                    extend: 'csvHtml5',
		                    title: 'Disponibilidade Docente'
		                },*/
		                {
		                    extend: 'pdfHtml5',
		                    title: 'Disponibilidade Docente'
		                },
		                {
		                    extend: 'print',
		                    title: 'Disponibilidade Docente'
		                }
		            ]
		            
		    }
		    },	
	
    language: 
	{
		url: 'https://cdn.datatables.net/plug-ins/2.0.2/i18n/pt-BR.json',
    },
	
	
});

} );
</script>









<div th:insert="~{layout/rodape}"></div>

</body>

</html>